*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header-conatiner{
    width: 100%;
    background-color: #082D2E;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-container-center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

h1{
    cursor: pointer;
}